*,
*::before,
*::after {
    box-sizing: border-box;
    font-weight: 400;
    color: #a59e9e;
}
.image {
    float: right;
    margin-right: 100px;
    border: 1px solid #e5e5e5;
    background-color: #e5e5e5;
    width: 260px;
    height: 350px;
}
.first-form label {
    display: inline-block;
    width: 70px;
}
.second-form label{
    display: inline-block;
    padding-top: 5px;
    text-align: left;
    width: 150px;
}
.form-container {
    max-width: 850px;
    margin: 10px auto;
}
.form-container input {
    margin-top: 5px;
    margin-bottom: 15px;
    display: inline-block;
    width: 220px;
    background-color: #e5e5e5;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.btn {
    margin: 20px 0 40px 130px;
    display: block;
    width: 130px;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    padding-top: 5px;
    padding-bottom: 5px;
}
#receive {
    background-color: transparent;
}
@media screen and (max-width: 640px){
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .image {
        display: none;
        text-align: center;
    }
    .btn {
        margin: 5px 0 20px 70px;
    }
}
@media screen and (min-width: 640px) and (max-width: 767px) {
    body {
        margin: 50px;
    }
    .image {
        margin-right: 0;
    }
    .btn {
        margin: 5px 0 20px 10px;
    }
    .form-container label {
        display: block;
    }
    .form-container input {
        max-width: 220px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        margin: 20px;
    }
    .form-container input {
        max-width: 200px;
    }
    .btn {
        margin: 5px 0 20px 10px;
    }
       
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
    
}
@media screen and (min-width: 1280px) and (max-width: 1536px) {
    
}
@media all and (min-width: 1536px) {
    
}
