

{% block content %}

    <h1>Staff Log In</h1>

    <form action="" method=POST>
            {% csrf_token %}
               

      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Username</label>
        <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">Your email address is your username. We'll never share your email with anyone else.</div>
      </div>

      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" name="password">
      </div>
      
  
      </div>
      <button type="submit" class="btn btn-primary">login</button>

    </form>
  {% endblock %}
        
        
  





     