.heading {
  display: flex;
  padding-left: 60px;
}

.middle01 {
  display: flex;
  padding-left: 130px;
  padding-top: 80px;
}

.myfooter01 {
  text-align: center;
}

.myfooter02 {
  display: flex;
  gap: 50px;
  padding-left: 200px;
  padding-top: 150px;
  padding-bottom: 50px;
}
.team-img {
  display: flex;
  gap: 20px;
  padding-left: 200px;
}

.middle02 {
  display: flex;
  padding-left: 130px;
  padding-top: 80px;
}

.us-images {
  display: grid;
  grid-template-areas:
    "a b"
    "a c";
  padding-right: 30px;
}

#grid-img01 {
  width: 616px;
  height: 374px;
}

#grid-img02 {
  width: 251px;
  height: 228px;
}

#grid-img03 {
  width: 251px;
  height: 140px;
}

#grid-img04 {
  width: 200px;
  height: 100px;
}

#grid-img05 {
  width: 200px;
  height: 100px;
}

#grid-img06,
#grid-img07,
#grid-img08,
#grid-img09 {
  width: 200px;
  height: 200px;
}

#grid-img10 {
  width: 400px;
  height: 300px;
}

.img01 {
  grid-area: a;
}

.img02 {
  grid-area: b;
}

.img03 {
  grid-area: c;
}

.us {
  width: 400px;
  padding-top: 50px;
  padding-left: 70px;
}

.abt-btn01 {
  background-color: #003865;
  color: white;
  opacity: 1.5;
  width: 150px;
  height: 30px;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 8px;
  height: 50px;
}

.text-purpose {
  padding-left: 200px;
}

.focus-img {
  padding-left: 400px;
}

.foc-btn02 {
  width: 200px;
  height: 30px;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 8px;
  height: 50px;
}

.reg-btn03 {
  background-color: #003865;
  color: white;
  opacity: 1.5;
  width: 200px;
  height: 30px;
  cursor: pointer;
  border: 2px solid black;
}
#myfig1,
#myfig2,
#myfig3,
#myfig4 {
  text-align: left;
}

#blueschool {
  text-decoration: none;
}
