* {
  /* padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100%; */
  /* overflow-x: hidden; */
}
body {
  /* background-color: white; */
}

.main-header {
  background-color: #b4b1b1;
  /* padding-bottom: 5%; */
  width: 100%;
  position: relative;
  color: #ffffff;
}

.nav-buttons {
  word-spacing: 15px;
  padding-left: 10px;
  padding-top: 5px;
}

.nav-links {
  color: #ffffff;
  text-decoration: none;
  word-spacing: 2px;
  /* margin: 1%; */
}

.main-header h2 {
  text-align: center;
  margin-top: 5%;
  padding-bottom: 5%;
}

.what {
  text-align: center;
  background-color: #b4b1b1;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header-2 {
  /* margin-left: 38%;
    padding-top: 10%; */
  background: #d9d9d9;
  width: 250px;
  height: 250px;
  position: absolute;
  top: 100px;

  /* position: absolute;
    z-index: 1; */
}

.head1 {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.purpose {
  width: 70%;
  text-align: center;
  padding-left: 25%;
  margin-top: 20%;
}

.img-style {
  width: 100px;
  height: 140px;
  border-radius: 50%;
}

.body-1 {
  display: flex;
  flex-direction: row;
  gap: 5%;
  margin: 5%;
  padding-left: 20%;
}

.child-1 {
  width: 50%;
}

.child-2 {
  background-color: #d9d9d9;
  width: 25%;
  height: 250px;
}

.btn {
  width: 120px;
  height: 25px;
  display: flex;
  gap: none;
  flex-direction: row;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  background: #0b0a0a;
  cursor: pointer;
  color: white;
  word-spacing: 5px;
  border-radius: 5px;
  font-weight: 50px;
  justify-content: center;
  align-items: center;
}

.text {
  text-align: center;
  padding-left: 50px;
  word-spacing: 5px;
  width: 90%;
}

.team1-2,
.team3-4 {
  display: flex;
  flex-direction: row;
  gap: 3%;
  padding-top: 3%;
}

.team1,
.team3 {
  background-color: #d9d9d9;
  display: flex;
  flex-direction: row;
  gap: 2%;
  width: 35%;
  margin-left: 20%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 20px;
  padding-left: 1%;
}

.team2,
.team4 {
  background-color: #d9d9d9;
  display: flex;
  flex-direction: row;
  gap: 2%;
  width: 35%;
  padding-left: 1%;
  padding-top: 2%;
  padding-bottom: 5%;
  border-radius: 20px;
}

.footer-2 {
  background: rgba(217, 217, 217, 0.55);
  height: 20vh;
  margin-top: 5%;
}

@media screen and (max-width: 900px) {
  .purpose {
    width: 70%;
    text-align: center;
    padding-left: 25%;
    margin-top: 50%;
  }

  .nav-buttons {
    display: flex;
    gap: 190px;
    word-spacing: 15px;
    padding-left: 10px;
    padding-top: 5px;
  }

  .log-reg {
    background-color: #b4b1b1;
  }

  .team1-2,
  .team3-4 {
    display: flex;
    flex-direction: column;
    gap: 3%;
    padding-top: 3%;
    justify-content: center;
    align-items: center;
  }

  .team1,
  .team3 {
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    gap: 2%;
    width: 50%;
    /* margin-left: 20%; */
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 20px;
    /* padding-left: 1%; */
  }

  .team2,
  .team4 {
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    gap: 2%;
    width: 50%;
    padding-left: 1%;
    padding-top: 2%;
    padding-bottom: 5%;
    border-radius: 20px;
  }
}

@media screen and (max-width: 430px) {
  .purpose {
    width: 70%;
    text-align: center;
    padding-left: 25%;
    margin-top: 70%;
  }

  .nav-buttons {
    display: flex;
    gap: 75px;
    word-spacing: 15px;
    padding-left: 10px;
    padding-top: 5px;
  }

  .log-reg {
    background-color: #b4b1b1;
  }

  .team1-2,
  .team3-4 {
    display: flex;
    flex-direction: column;
    gap: 3%;
    padding-top: 3%;
    justify-content: center;
    align-items: center;
  }

  .team1,
  .team3 {
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    gap: 2%;
    width: 50%;
    /* margin-left: 20%; */
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 20px;
    /* padding-left: 1%; */
  }

  .team2,
  .team4 {
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    gap: 2%;
    width: 50%;
    padding-left: 1%;
    padding-top: 2%;
    padding-bottom: 5%;
    border-radius: 20px;
  }
}
