@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Montserrat:wght@400;700;900&family=Space+Grotesk:wght@300;400;500;600;700&family=Ubuntu:wght@400;700&display=swap');

.about-body {
  font-family: 'Space Grotesk', sans-serif;
}

.heading {
  display: flex;
  padding: 10px;
}

.myfooter01 {
  text-align: center;
  padding-left: 10px;
}

.myfooter02 {
  display: flex;
  margin: 150px 0px 60px;
}

.reg01,.reg-img {
  width: 50%;
}

.reg-img img {
  float: right;
}

.fig-parent {
  display: flex;
  gap: 20px;
}

.us {
  width: 35%;
  padding-top: 50px;
}

.us h2 {
  font-size: 3rem;
  padding: 10px 0 15px;
}

.us p {
  padding: 0 0 15px;
}

.us-images {
  display: grid;
  grid-template-areas:
    "a b"
    "a c";
  width: 65%;
}

.img01,.img02,.img03 {
  margin: 5px;
}

.middle01 {
  display: flex;
  margin: 150px 20px 20px;
}

.middle02 {
  display: flex;
  margin: 150px 20px 20px;
}

.middle02 p{
  font-weight: 700;
}


#grid-img01 {
  width: 616px;
  height: 378px;
}

#grid-img02 {
  width: 251px;
  height: 228px;
}

#grid-img03 {
  width: 251px;
  height: 140px;
}

#grid-img04 {
  width: 600px;
  height: 350px;
}

#grid-img05 {
  width: 200px;
  height: 100px;
}

#grid-img06,
#grid-img07,
#grid-img08,
#grid-img09 {
  width: 100%;
  height: 300px;
}

#grid-img10 {
  width: 500%;
  height: 300px;
  /* max-width: 100%; */
}

#fig01,#fig02,#fig03,#fig04 {
  width: 24%;
}

.img01 {
  grid-area: a;
}

.img02 {
  grid-area: b;
}

.img03 {
  grid-area: c;
}

.abt-btn01 {
  background-color: #0A5694;
  color: white;
  opacity: 1.5;
  width: 150px;
  height: 30px;
  cursor: pointer;
  border-radius: 8px;
  height: 50px;
  margin: 15px 0 0;
}

.text-purpose {
  padding-left: 200px;
}

.focus-img {
  padding-left: 200px;
}

.foc-btn02 {
  width: 200px;
  height: 30px;
  cursor: pointer;
  color: #000;
  border: 2px solid black;
  border-radius: 8px;
  height: 50px;
}

.reg-btn03 {
  background-color: #0A5694;
  color: white;
  opacity: 1.5;
  width: 200px;
  height: 30px;
  cursor: pointer;
  border: 2px solid black;
}

.myfig {
  text-align: left;
}

.myfig span{
  font-weight: 700;
  font-size: 1.35rem;
}

#blueschool {
  text-decoration: none;
}

.bull-eye {
  display: inline;
  color: #FA010175;
  margin: 5px 30px 10px 0;
}

.point {
  display: flex;
}


@media screen and (min-width: 280px) and (max-width: 600px) {
  .heading {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 10px;
  }

  .abt-btn01 {
    visibility: hidden;
    width: 1px;
    height: 1px;
  }

  .mabt-btn01 {
    background-color: #0A5694;
    color: white;
    opacity: 1.5;
    width: 150px;
    height: 50px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 8px;
    margin-top: 20px;
  }

  .reg-btn03 {
    background-color: #0A5694;
    color: white;
    opacity: 1.5;
    width: 200px;
    height: 50px;
    cursor: pointer;
    border: 2px solid black;
  }

  .middle01 {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    margin-top: 50px;
  }

  .middle02 {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
  }

  .head-focus {
    padding-left: 20px;
    margin-top: -50px;
  }

  .text-purpose {
    width: 350px;
    padding-left: 0;
  }

  .head-purpose {
    padding-left: 10px;
  }

  .myfooter01 {
    padding-left: 10px;
  }

  .myfooter02 {
    display: flex;
    flex-direction: column-reverse;
    padding-left: 5px;
    margin-bottom: 0;
    margin-top: 50px;
  }

  .mylist {
    padding-left: 0;
  }

  .reg01 {
    /* text-align: center; */
    width: 100%;
    padding-top: 50px;
    padding-left: 20px;
  }

  .fig-parent {
    display: grid;
    grid-template-areas:
      "a b"
      "c d";
    padding-left: 2px;
  }

  #fig01 {
    grid-area: a;
    width: 150px;
  }

  #fig02 {
    grid-area: b;
    width: 150px;
  }

  #fig03 {
    grid-area: c;
    width: 150px;
  }

  #fig04 {
    grid-area: d;
    width: 150px;
  }

  .focus-img {
    padding-left: 10px;
  }

  .us {
    padding-top: 20px;
    width: 100%;
  }

  .us-images {
    display: grid;
    grid-template-areas:
      "a b"
      "a c";
    padding-left: 5px;
    width: 100%;
  }

  #grid-img01 {
    width: 170px;
    height: 200px;
  }

  #grid-img02 {
    width: 140px;
    height: 100px;
  }

  #grid-img03 {
    width: 140px;
    height: 100px;
  }

  #grid-img04 {
    width: 330px;
    height: 250px;
    margin-top: 50px;
  }


  #grid-img06,
#grid-img07,
#grid-img08,
#grid-img09 {
  width: 100%;
  height: 150px;
}

.hidden {
  display: none;
}
.reg01,.reg-img {
  width: 97%;
}
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
  .myfooter02 {
 padding: 0 10px;
   }
 }
