/* *,
*::before,
*::after {
    box-sizing: border-box;
    color: #484747;
    font-weight: 400;
    font-family: 'Space Grotesk', sans-serif;
} */
.debtor-form {
    width: 790px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
}
.debtor-form h1 {
    color: #003865;
}
.debtor-form label {
    display: block;
    width: 130px;
    margin-top: 23px;
}
.debtor-form input {
    display: inline-block;
    padding: 17px 130px 17px 25px;
    text-align: left;
    margin-top: 23px;
    border: 1px solid #d9d9d9;
    border-radius: 4px
}
.grid-container {
    display: grid;
    grid-template-areas: 
        "one two"
        "three four"
        "five six"
    ;
}
.block:nth-child(1) {
    grid-area: one;
}
.block:nth-child(2) {
    grid-area: two;
}
.block:nth-child(3) {
    grid-area: three;
}
.block:nth-child(4) {
    grid-area: four;
}
.block:nth-child(5) {
    grid-area: five;
}
.block:nth-child(6) {
    grid-area: six;
}
input::placeholder {
    color: #484747;
    opacity: 1;
    font-size: 11px;
}
#btn {
    padding: 11px 195px 11px 195px;
    margin-top: 50px;
    border: 1px solid #cbc8c8;
    border-radius: 8px;
    background-color: #003865;
    color: #ffffff;
    font-weight: 600;
    margin-left: 150px;
}
@media screen and (max-width: 639px) {
    .debtor-form {
        display: flex;
        flex-direction: column;
        width: 300px;
        margin: 10px auto;
    }
    .grid-container {
        display: flex;
        flex-direction: column;
    }
    #btn {
        margin-left: 0;
        padding: 20px 130px 20px 130px;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .debtor-form input {
        display: inline-block;
        padding: 10px 130px 10px 25px;
        text-align: left;
        margin-top: 23px;
        border: 1px solid #d9d9d9;
        border-radius: 4px;
    }
}
@media screen and (min-width: 640px ) and (max-width: 767px) {
    .debtor-form {
        display: flex;
        flex-direction: column;
        width: 300px;
        margin: 10px auto;
    }
    .grid-container {
        display: flex;
        flex-direction: column;
    }
    #btn {
        margin-left: 0;
        padding: 20px 130px 20px 130px;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .debtor-form input {
        display: inline-block;
        padding: 10px 130px 10px 25px;
        text-align: left;
        margin-top: 23px;
        border: 1px solid #d9d9d9;
        border-radius: 4px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .debtor-form {
        display: flex;
        flex-direction: column;
        margin: 10px auto;
        width: 700px;
    }
    .debtor-form input {
        display: inline-block;
        padding: 10px 100px 10px 25px;
        text-align: left;
        margin-top: 23px;
        border: 1px solid #d9d9d9;
        border-radius: 4px;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {

}
@media screen and (min-width: 1280px) and (max-width: 1536px) {

}
