@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Montserrat:wght@400;700;900&family=Space+Grotesk:wght@300;400;500;600;700&family=Ubuntu:wght@400;700&display=swap');

.banner {
    margin: 20px;
}

.my-container {
    font-family: 'Space Grotesk', sans-serif;
}

.contact-list {
    list-style-type: none;
    padding-left: 0;
}

.phone {
    text-decoration: none;
}

.left {
    text-align: left;
    padding: 10px 50px 20px 20px;
}

.right {
    margin-left: 50px;
    width: 90%;
    position: relative;
    left: 20px;
}

.explore {
    color: #003865;
}

.big-heading {
    padding: 13px 0 35px;
}

.contact-detail {
    margin: 30px 0;
    display: flex;
}

.contact-detail p{
    line-height: 20px;
    margin: 2px 5px;
}

.dot-icon {
    margin-right: 20px;
    background-color: #D4F6CC;
    padding: 5px;
    border-radius: 20%;
    color: #003865;
}

.input-entry {
    padding-bottom: 20px;
}

.submit-btn {
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #003865 !important;
    color: #fff !important;
    border-radius: 10px;
}

.btn-div {
    height: 60px;
}

@media only screen and (max-width: 768px) {
    .right {
        margin-left: 0;
        width: 90%;
        position: relative;
        bottom: 380px;
    }

    .office {
        position: relative;
        top: 600px
    }

    .dot-icon {
        margin-right: 20px;
        background-color: #D4F6CC;
        padding: 5px;
        border-radius: 20%;
        color: #003865;
        size: 1.5rem;
    }
}
