@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

.contend {
  font-family: 'Space Grotesk', sans-serif;
  padding: 0 50px;
}

.contend--header {
  font-weight: 500;
  padding-bottom: 30px;
}

.primary--header{
color: #0A5694;
text-align: center;
}

.secondary--header,
.tertiary--header {
  color: #484747;
}

.form {
width: 60%;
margin-bottom: 30px;
}

.form--group {
  display: flex;
  padding-bottom: 30px;
  align-items: center;
}

.form--label {
flex: 0 0 35%;
}

.form--input {
  padding: 10px;
  border: 1px solid #5B5959;
  border-radius: 3px;
  width: 100%;
  flex: 0 0 65%;
}

.issue {
  display: flex;
  align-items: start;
}

.submit {
  background-color: #0A5694;
  color: #fff;
  font-weight: 500;
}

.submit:hover {
  color: #0A5694;
  background-color: #fff;
}

.contend--previous {
  margin-bottom: 40px;
}

.previous,
.lists {
  text-decoration: none;
  padding-bottom: 10px;
  display: block;
  color: #0A5694;
  font-weight: 400;
}

.contend--table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 0;
  margin-bottom: 50px;
}

th, td {
  padding: 10px;
}

.delete {
  position: relative;
}

.icon {
position: absolute;
top: 30%;
left: 30%;
cursor: pointer;
}

.attach {
  text-align: right;
  color: #0A5694;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  justify-content: end;
  margin-top: -20px;
  margin-bottom: 30px;
}


@media screen and (min-width: 801px) and (max-width: 1100px) {
  .icon {
    left: 50%;
    top: 25%;
    }
    
}

@media screen and (min-width: 280px) and (max-width: 768px) {
  .contend {
    padding: 0 20px;
  }

.contend--header {
  padding-bottom: 10px;
}

  .form {
    width: 100%;
    }

    .form--group {
      flex-direction: column;
      align-items: start;
    }

    .secondary--header {
      font-size: 20px;
    }

    .tertiary--header {
      font-size: 12px;
    }

    .lists {
      font-size: 13px;
    }

    .hidden {
      display: none;
    }

    .attach-box {
      position: relative;
      margin-top: 30px;
     }

    .attach {
      margin-bottom: 0;
      background-color: #0A5694;
      color: #fff;
      padding: 10px 20px;
      position: absolute;
      right: 0;
    }

    .submit {
      margin-top: 50px;
    }
}



/* Debtor contend */
.compt {
  font-family: 'Space Grotesk', sans-serif;
  padding: 50px 50px 0;
  color: #484747;
}

.compt--text--1 {
  text-align: center;
  color: #0A5694;
}

.compt--text--2 {
  font-size: 30px;
}

.compt--text--3 {
  font-size: 22px;
  padding-bottom: 30px;
}

.compt--table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.compt--link {
  text-decoration: none;
  color: #484747;
}

.compt--link:hover {
  color: #0A5694;
}  

th {
  font-size: 20px;
}

@media screen and (min-width: 280px) and (max-width: 768px) {
  .compt {
    padding: 20px 0;
  }

  .compt--text--2 {
    font-size: 18px;
  }

  .compt--text--3 {
    font-size: 14px;
    padding-bottom: 10px;
  }

  th, td {
    font-size: 11px;
  }
}

@media screen and (min-width: 440px) and (max-width: 768px) {
  th, td {
    font-size: 15px;
  }
}