<<<<<<< HEAD
=======
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Montserrat:wght@400;700;900&family=Space+Grotesk:wght@300;400;500;600;700&family=Ubuntu:wght@400;700&display=swap');
.profile-all {
    font-family: 'Space Grotesk', sans-serif;
    width: 100%;
}

>>>>>>> 14aa1ecebece8f2bb937239a30dfc23369b02131
.profile-header {
    display: flex;
    padding: 15px 25px;
  }
  
  .p-header {
    width: 45%;
    margin: 5px 20px;
  }
<<<<<<< HEAD
=======

  .p-header-title h2 {
    color: #0A5694;
  }
>>>>>>> 14aa1ecebece8f2bb937239a30dfc23369b02131
  
  .p-header-button Button {
    float: right;
  }
<<<<<<< HEAD
=======

  .update-button {
    font-weight: 700;
    background-color: #0A5694;
    color: #fff;
    padding: 10px 38px;
  }
>>>>>>> 14aa1ecebece8f2bb937239a30dfc23369b02131
  
  .navoo {
    background-color: transparent;
  }
  
  .navoo-link {
    text-decoration: none !important;
<<<<<<< HEAD
    color: #5b5959b2;
=======
    color: #2B597FB2;
>>>>>>> 14aa1ecebece8f2bb937239a30dfc23369b02131
  }
  
  .navoo::after {
    content: "";
    display: block;
    position: relative;
    top: 4px;
    width: 100%;
    height: 5.5px;
    background-color: #888282;
    border-radius: 50px;
<<<<<<< HEAD
=======
    background-color: #2B597F;
>>>>>>> 14aa1ecebece8f2bb937239a30dfc23369b02131
  }
  
  .uche {
    width: 17%;
  }
<<<<<<< HEAD
=======

  .row {
    width: 96%;
  }
>>>>>>> 14aa1ecebece8f2bb937239a30dfc23369b02131
  
  .tab-row {
    display: flex;
    flex-direction: row;
<<<<<<< HEAD
    border-width: 1.3px;
    border-color: #b4b1b1;
=======
    border-width: 2px;
    border-color: #B4B1B1;
>>>>>>> 14aa1ecebece8f2bb937239a30dfc23369b02131
    border-style: none none solid;
    height: fit-content;
  }
  
  .user-details {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0;
    width: 100%;
  }
  
  .each-user {
    width: 45%;
    margin: 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
<<<<<<< HEAD
    padding: 0 10px;
=======
    padding: 15px 10px 20px;
  }

  .detail-title {
    width: 25%;
>>>>>>> 14aa1ecebece8f2bb937239a30dfc23369b02131
  }
  
  .final-detail {
    border: 2px solid #b2beb5;
    padding: 6px;
  }
  
  .row-entry {
    margin: 50px 0;
  }
  
  .docs-list {
    margin: 50px 0 0 37px;
  }
<<<<<<< HEAD
  
  .req-list {
    margin: 10px 0;
=======

  .update-docs {
    margin: 20px 0 0 17px;
  }

  .update-docs label{
    margin-top: 20px;
  }
  
  .req-list {
    margin: 10px 0;
  }

  .req-list svg{
    display: inline;
  }

  .final-update {
    border: none;
    box-shadow: none;
  }

  .update-all-button {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 20px auto;
  }

  .update-all-button Button {
    width: 40%;
    height: 60px;
    font-size: 1.5rem;
    font-weight: 700;
  }

  .each-password {
    width: 50%;
    margin: 30px auto;
    padding: 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
>>>>>>> 14aa1ecebece8f2bb937239a30dfc23369b02131
  }