@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

.debtor {
  font-family: 'Space Grotesk', sans-serif;
}

.debtorhead {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 50px;
  color: #003865;
}

.search-box {
  display: flex;
  justify-content: center;
}

.inputsearch {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  padding: 8px;
  color: rgba(6, 0, 0, 0.465);
  width: 70%;
}
.input-search {
  width: 95%;
  padding: 0.5px;
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
  outline: none;
  color: rgba(6, 0, 0, 0.465);
}

.mytable {
  margin-right: 50px;
  margin-left: 20px;
}

.deji-table {
  margin-top: 30px;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px dotted #d4f6cc;
}

.list-1 {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.deji-table td,
.deji-table th {
  /* border: 1px solid #ddd; */
  text-align: left;
  padding: 8px;
}

.deji-table tr:nth-child(odd) {
  background-color: #d4f6cc;
}

#debt {
  background-color: #fff;
}

@media screen and (min-width: 280px) and (max-width: 600px) {
  .inputsearch {
    display: flex;
    align-items: center;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    padding: 8px;
    color: rgba(6, 0, 0, 0.465);
    width: 70%;
    margin: auto;
  }

  .mytable {
    margin-right: 15px;
    margin-left: 0;
  }
}
