*,
*::before,
*::after {
    box-sizing: border-box;
    font-weight: 400;
    color: #484747;
    font-family: 'Space Grotesk', sans-serif;
}
.image {
    float: right;
    margin-right: 140px;
    border: 1px solid #e5e5e5;
    background-color: #e5e5e5;
    width: 300px;
    height: 50px;
}
.first-form label {
    display: inline-block;
    width: 180px;
    font-size: 20px;
}
.second-form label{
    display: inline-block;
    padding-top: 5px;
    text-align: left;
    width: 180px;
}
.code {
    color: #0A5694;
    font-size: 16px;
}
.form-container {
    max-width: 1000px;
    margin: 10px auto;
}
.form-container h2 {
    color: #5B5959;
}
.form-container p:first-of-type {
    color: #000000;
    font-size: 20px;
}

.form-container input {
    margin-top: 5px;
    margin-bottom: 15px;
    display: inline-block;
    background-color: transparent;
    border: 1px solid #484747;
    border-radius: 6px;
    padding: 12px 150px 12px 15px;    
}
input::placeholder {
    font-size: 15px;
}
.btn {
    font-family: 'Inter', sans-serif;
    display: block;
    border-radius: 8px;
    border: 1px solid #ffffff;
    color: #ffffff;
    background-color: #0A5694;
}
.receive-btn {
    margin: 20px 0 40px 290px;
    padding: 16px 35.5px 16px 35.5px;
}
.submit-btn {
    margin: 20px 120px 40px 185px;
    padding: 16px 145px 16px 145px;
}
@media screen and (max-width: 640px){
    .form-container {
        max-width: 700px;
        font-size: 12px;
        margin: 5px auto;
    }
    .image {
        display: none;
        text-align: center;
    }
    .receive-btn {
        display: inline-block;
        margin: 20px 0 40px 20px;
        padding: 10px 20px 10px 20px;
    }
    .submit-btn {
        margin: 20px 50px 40px 100px;
        padding: 10px 100px 10px 100px;
    }
    .form-container input {
        margin-top: 5px;
        margin-bottom: 15px;
        display: inline-block;
        padding: 10px 50px 10px 15px;    
    }
    .form-container label {
        display: inline-block;
        padding-top: 5px;
        text-align: left;
        width: 100px;
    }
    .code {
        font-size: 12px;
        display: inline-block;
    }
    .form-container h2 {
        font-size: 15px;
    }
    .form-container p:first-of-type {
        font-size: 14px;
    }
    input::placeholder {
        font-size: 10px;
    }
    .first-form label {
        font-size: 12px;
    }
}
@media screen and (min-width: 640px) and (max-width: 767px) {
    .form-container {
        max-width: 1000px;
        text-align: center;
        margin: 10px auto;
    }
    .image {
        display: none;
    }
    .btn {
        margin: 5px 0 20px 10px;
    }
    .form-container label {
        display: block;
    }
    .form-container input {
        padding: 12px 150px 12px 15px;
    }
   
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .form-container label {
        display: block;
    }
    .form-container input {
        margin-top: 5px;
        margin-bottom: 15px;
        display: inline-block;
        padding: 12px 150px 12px 15px;    
    }
    .submit-btn {
        margin: 20px 50px 40px 100px;
        padding: 10px 100px 10px 100px;
    }
    .receive-btn {
        display: inline-block;
        margin: 20px 0 40px 20px;
        padding: 10px 20px 10px 20px;
    }
    .image {
        margin-right: 100px;
    }
       
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
    
}
@media screen and (min-width: 1280px) and (max-width: 1536px) {
    
}
@media all and (min-width: 1536px) {
    
}
