/* *,
*::before,
*::after {
    box-sizing: border-box;
    font-weight: 400;
    color: #484747;
    font-family: 'Space Grotesk', sans-serif;
} */
.form-container {
  margin: 0 auto;
  box-sizing: border-box;
  font-weight: 400;
  color: #484747;
  font-family: "Space Grotesk", sans-serif;
  display: flex;
  flex-direction: row-reverse;
}
.image {
  float: right;
  margin-top: 30px;
  padding-right: 10px;
  border: 1px solid #e5e5e5;
  background-color: #e5e5e5;
  width: 300px;
  height: 150px;
}
.cath-image {
  width: 500px;
  height: 170px;
  border-radius: 8px;
  padding-top: 10px;
}
.first-form label {
  display: inline-block;
  width: 180px;
  font-size: 20px;
}
.second-form label {
  display: inline-block;
  padding-top: 5px;
  text-align: left;
  width: 180px;
}
.code {
  color: #0a5694;
  font-size: 16px;
}
.form-container {
  max-width: 1000px;
  margin: 10px auto;
}
.form-container h2 {
  color: #5b5959;
}
.form-container p:first-of-type {
  color: #000000;
  font-size: 20px;
}

.form-container input {
  margin-top: 5px;
  margin-bottom: 15px;
  display: inline-block;
  background-color: transparent;
  border: 1px solid #484747;
  border-radius: 6px;
  padding: 12px 100px 12px 15px;
}
input::placeholder {
  font-size: 15px;
}
.btn {
  font-family: "Inter", sans-serif;
  display: block;
  border-radius: 8px;
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: #0a5694;
}
.receive-btn {
  margin-left: 370px;
  margin-bottom: 10px;
}

.cath-submit-btn {
  font-family: "Inter", sans-serif;
  border-radius: 8px;
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: #0a5694;
  width: 200px;
  margin-left: 300px;
  height: 50px;
}

@media screen and (min-width: 280px) and (max-width: 599px) {
  .forgot-pwd-form {
    width: 50%;
    padding-left: 10px;
  }

  .cath-image {
    width: 1px;
    height: 1px;
    display: none;
  }

  .receive-btn {
    margin-left: 150px;
    margin-bottom: 10px;
    width: 150px;
  }

  .cath-submit-btn {
    font-family: "Inter", sans-serif;
    border-radius: 8px;
    border: 1px solid #ffffff;
    color: #ffffff;
    background-color: #0a5694;
    width: 200px;
    margin-left: 100px;
    height: 50px;
  }

  .form-container {
    margin: 0 auto;
    box-sizing: border-box;
    font-weight: 400;
    color: #484747;
    font-family: "Space Grotesk", sans-serif;
    display: flex;
    flex-direction: row;
  }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .cath-image {
    width: 1px;
    height: 1px;
    visibility: hidden;
  }
}
