*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_content{
    max-width: 100vw;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-style: normal;
    font-family: 'Space Grotesk';
    line-height: 100%;
    letter-spacing: 0em;
    position: relative;
    background: #fff;
}


/* beginning of top section style */
.main_content .top_content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
}

.top_content .tc_wrapper{
    max-width: 100vw;
    width: 100%;
    max-height: 708px;
    min-height: 354px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(50, 51, 49, 1);
    position: relative;
}

.tc_wrapper .tc_para{
    width: 90%;
    text-align: center;
    color: #fff;
    font-size: 3rem;
    font-weight: 500;
    background: transparent;
}

.top_content .tc_img_container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 25%;
}

.tc_img_container .headerImg{
    max-width: 860px;
    min-width: 356px;
    max-height: 389px;
    min-height: 243px;
    width: 100%;
    height: 100%;
    background-color: rgb(189, 189, 189);
    background-image: url(../images/home_img_1.png);
    background-repeat: no-repeat;
    /* background-position: center; */
}

.reg_btn{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 327px;
    height: 50px;
    align-self: center;
    margin-top: 172px;
    background: rgba(10, 86, 148, 1);
    border-radius: 5px;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 26px;
    color: #fff;
}

/* media queries */

/* desktop screen */
@media screen and (min-width: 900px) {
    .top_content .tc_wrapper{
        width: 100%;
        height: 578px;
        display: flex;
    }
    .tc_wrapper .tc_para{
        width: 68%;
        text-align: center;
        color: #fff;
        font-size: 3rem;
        font-weight: 500;
        line-height: 77px;
        background: transparent;
    }
    .top_content .tc_img_container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 100;
        margin-top: -15%;
    }
    
    .tc_img_container .headerImg{
        min-width: 356px;
        min-height: 243px;
        width: 860px;
        height: 389px;
        background-color: rgb(189, 189, 189);
        background-image: url(../images/image\ 5home-1-desktop.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        /* background-position: center; */
    }
    .reg_btn{
        display: flex;
        align-self: center;
        margin-top: 62px;
        font-weight: 500;
        font-size: 1.5rem;
    }
}

/* tablet view */
@media screen and (min-width: 500.1px) and (max-width: 899.99px) {
    .top_content .tc_wrapper{
        width: 100%;
        height: 400px;
        display: flex;
    }
    .tc_wrapper .tc_para{
        width: 68%;
        text-align: center;
        color: #fff;
        font-size: 1.825rem;
        font-weight: 500;
        line-height: 50px;
        background: transparent;
    }
    .top_content .tc_img_container{
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 100;
        margin-top: -18%;
    }
    
    .tc_img_container .headerImg{
        width: 356px;
        height: 243px;
        background-color: rgb(189, 189, 189);
        background-image: url(../images/home_img_1.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        /* background-position: center; */
    }
    .reg_btn{
        display: flex;
        align-self: center;
        margin-top: 50px;
        font-weight: 500;
        font-size: 1.5rem;
    }
}

/* mobile screen */
@media screen and (min-width: 320px) and (max-width: 500px) {
    .top_content .tc_wrapper{
        width: 100%;
        height: 354px;
        display: flex;
    }
    .tc_wrapper .tc_para{
        width: 70%;
        text-align: center;
        color: #fff;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 31px;
        background: transparent;
    }
    .top_content .tc_img_container{
        min-width: 300px;
        min-height: 204px;
        width: 100%;
        height: 100%;
        max-width: 356px;
        min-height: 243px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 100;
        margin: auto;
        margin-top: -30%;
    }
    
    .tc_img_container .headerImg{
        min-width: 300px;
        min-height: 204px;
        width: max-content;
        max-width: 356px;
        max-height: 243px;
        background-color: rgb(189, 189, 189);
        background-image: url(../images/home_img_1.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
    }
    .reg_btn{
        display: flex;
        align-self: center;
        margin-top: 50px;
        font-weight: 500;
        font-size: 1.25rem;
        width: 290px;
        height: 50px;
    }
}



/* end of top section style */

/* Beginning of Who We Are (wwa) Section style */

.main_content .wwa_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100vw;
    position: relative;
}

.wwa_container .wwa_wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #fff;
    position: relative;
}

.wwa_wrapper .wwa_top_deco{
    width: 100%;
    height: 100%;
    border: 1px dashed #5B5959;
    border-radius: 47px;
}

.wwa_wrapper .wwa_title{
    width: fit-content;
    text-align: start;
    color: #484747;
}

.wwa_wrapper .wwa_paragraph{
    max-width: inherit;
    width: 95%;
    color: rgba(72, 71, 71, 0.84);
    text-align: start;
}

/* media queries */

/* desktop view */
@media screen and (min-width:1000px) {
    .wwa_container .wwa_wrapper{
        margin-left: 43px;
        margin-top: 142px;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .wwa_wrapper .wwa_top_deco{
        width: 244px;
        height: 10px;
        align-self: flex-start;
        border: 1px dashed #5B5959;
        border-radius: 47px;
    }
    
    .wwa_wrapper .wwa_title{
        margin-top:  27px;
        font-weight: 500;
        font-size: 2.25rem;
        line-height: 46px
    }
    
    .wwa_wrapper .wwa_paragraph{
        font-weight: 400;
        width: 90%;
        font-size: 1.5rem;
        line-height: 31px; 
        margin-top: 27px;
    }
     
}

/* tablet view */
@media screen and (max-width:999.99px) and (min-width:600.5px) {
    .wwa_container .wwa_wrapper{
        margin-left: 43px;
        margin-top: 142px;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .wwa_wrapper .wwa_top_deco{
        width: 244px;
        height: 10px;
        align-self: flex-start;
        border: 1px dashed #5B5959;
        border-radius: 47px;
    }
    
    .wwa_wrapper .wwa_title{
        margin-top:  27px;
        font-weight: 500;
        font-size: 2.rem;
        line-height: 46px
    }
    
    .wwa_wrapper .wwa_paragraph{
        font-weight: 400;
        font-size: 1.15rem;
        line-height: 31px; 
        margin-top: 27px;
    }
     
}

/* mobile view */
@media screen and (min-width: 320px) and (max-width:600px) {
    .wwa_container .wwa_wrapper{
        margin-left: 21px;
        margin-top: 94px;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .wwa_wrapper .wwa_top_deco{
        width: 184px;
        height: 7px;
        align-self: flex-start;
        border: 1px dashed #5B5959;
        border-radius: 47px;
    }
    
    .wwa_wrapper .wwa_title{
        margin-top:  27px;
        font-weight: 700;
        font-size: 1.375rem;
        line-height: 26px
    }
    
    .wwa_wrapper .wwa_paragraph{
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 14px; 
        margin-top: 18px;
    }
     
}
/* End of WHO WE ARE style */


/* Beginning of OUR IMPACT AND CONTRIBUTION (impact) ection style */

.main_content .impact_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100vw;
    position: relative;
}

.impact_container .impact_wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #fff;
    position: relative;
}

.impact_wrapper .i-c_row{
    display: flex;
    flex-direction: row;
}

.i-c_row .impact_title{
    width: fit-content;
    height: auto;
    color: #484747;
    }

.i-c_row .impact_grid_block{
    display: flex;
    flex-direction: row;
}

.i-c_row .impact_image{
    max-width: 595px;
    max-height: 381px;
    min-width: 387px;
    min-height: 209px;
    background-color: #5B5959;
    width: fit-content;
    height: auto;
    background-image: url(../images/wwd_image.png);
    margin-top: 70px;
    border-radius: 4px;
}

.i-c_row .wwd{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* media queries */
 /* desktop view */
@media screen and (min-width: 1025px) {
    .impact_container .impact_wrapper{
        margin-left: 43px;
        margin-top: 109px;
    }
    .row_001{
        flex-direction: row;
        gap: 20px;
    }
    .i-c_row .impact_title{
        font-size: 2.25rem;
        font-weight: 500;
        line-height: 46px;
        display: flex;
        align-items: flex-start;
        justify-content: left;
        height: auto;
        color: #484747;
        flex-basis: 300px;
        }
    
    .i-c_row .impact_grid_block{
        display: flex;
        flex-direction: row;
        flex-basis: 65%;
        gap: 60px;
    }

    .impact_grid_block .impact_col{
        display: flex;
        flex-direction: column;
        gap: 83px;
    }
    .impact_col .ic_row{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .ic_icon_1{
        background: url(../images/I&C_icon_1.png);
        width: 35px;
        height: 35px;
      }
      
      .ic_icon_2{
        background: url(../images/I&C_icon_2.png);
        width: 35px;
        height: 35px;
      }
      
      .ic_icon_3{
        background: url(../images/Group\ 41I&C_icon_3.png);
        width: 35px;
        height: 35px;
      }
      
      .ic_icon_4{
        background: url(../images/I&C_icon_4.png);
        width: 35px;
        height: 35px;
      }

    .ic_para{
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 25.25px;
        color: rgba(72, 71, 71, 0.84);
      }

    .impact_grid_block .col_2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 83px;
    }
    
    .i-c_row .impact_image{
        width: 595px;
        height: 381px;
        background: url(../images/wwd_desktop-img.jpg);
        margin-top: 70px;
        border-radius: 4px;
    }
    
    .i-c_row .wwd{
        display: flex;
        margin-left: 100px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    
    .wwd_title{
        
        width: 100%;
        align-self: flex-start;
        justify-self: flex-start;
        margin-top: 67px;
        font-weight: 500;
        font-size: 2.375rem;
        line-height: 48px;
        color: #484747;
    }
    
    .wwd_para{
        width: 97%;
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 31px;
        color: rgba(72, 71, 71, 0.84);
        padding-bottom: 20px;
    }
    
    .wwd_btn{
        text-decoration: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        justify-self: flex-start;
        align-self: flex-start;
        padding: 10px;
        gap: 10px;
        width: 141px;
        height: 38px;
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 26px;
        border: 1px solid #0A5694;
        border-radius: 3px;
    }
    
}

 /* tablet view */
 @media screen and (max-width: 1024px) and (min-width: 600px) {
    .impact_container .impact_wrapper{
        margin-left: 43px;
        margin-top: 109px;
    }
    .row_001{
        flex-direction: row;
        gap: 20px;
    }
    .i-c_row .impact_title{
        font-size: 2.25rem;
        font-weight: 500;
        line-height: 46px;
        display: flex;
        align-items: flex-start;
        justify-content: left;
        height: auto;
        color: #484747;
        flex-basis: 300px;
        }
    
    .i-c_row .impact_grid_block{
        display: flex;
        flex-direction: row;
        flex-basis: 65%;
        gap: 60px;
    }

    .impact_grid_block .impact_col{
        display: flex;
        flex-direction: column;
        gap: 83px;
    }
    .impact_col .ic_row{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .ic_icon_1{
        background: url(../images/I&C_icon_1.png);
        width: 35px;
        height: 35px;
      }
      
      .ic_icon_2{
        background: url(../images/I&C_icon_2.png);
        width: 35px;
        height: 35px;
      }
      
      .ic_icon_3{
        background: url(../images/Group\ 41I&C_icon_3.png);
        width: 35px;
        height: 35px;
      }
      
      .ic_icon_4{
        background: url(../images/I&C_icon_4.png);
        width: 35px;
        height: 35px;
      }

    .ic_para{
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 25.25px;
        color: rgba(72, 71, 71, 0.84);
      }

    .impact_grid_block .col_2{
        display: flex;
        flex-direction: column;
        gap: 83px;
    }
    
    .i-c_row .impact_image{
        background: url(../images/wwd_desktop_img.png);
        margin-top: 70px;
        border-radius: 4px;
    }
    
    .i-c_row .wwd{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
}
 /* mobile view */
 @media screen and (min-width: 320px) and (max-width:599.99px) {
    .impact_container .impact_wrapper{
        margin-top: 112px;
    }

    .impact_wrapper .i-c_row{
        display: flex;
        flex-direction: column;
    }

    .row_001{
        flex-direction: column;
        gap: 20px;
    }
    .i-c_row .impact_title{
        font-size: 1.375rem;
        font-weight: 500;
        line-height: 26px;
        display: flex;
        margin-left: 20px;
        align-items: flex-start;
        justify-content: left;
        height: auto;
        color: #484747;
        }
    
    .i-c_row .impact_grid_block{
        display: flex;
        flex-direction: row;
        flex-basis: 100%;
        margin-left: 20px;
        gap: 62px;
        margin-top: 41px;
    }

    .impact_grid_block .impact_col{
        display: flex;
        flex-direction: column;
        gap: 52px;
    }
    .impact_col .ic_row{
        display: flex;
        flex-direction: column;
        gap: 36px;
    }

    .ic_icon_1{
        background: url(../images/I&C_icon_1.png);
        width: 35px;
        height: 35px;
      }
      
      .ic_icon_2{
        background: url(../images/I&C_icon_2.png);
        width: 35px;
        height: 35px;
      }
      
      .ic_icon_3{
        background: url(../images/Group\ 41I&C_icon_3.png);
        width: 35px;
        height: 35px;
      }
      
      .ic_icon_4{
        background: url(../images/I&C_icon_4.png);
        width: 35px;
        height: 35px;
      }

    .ic_para{
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 14px;
        color: rgba(72, 71, 71, 0.84);
      }

    .impact_grid_block .col_2{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .i-c_row .impact_image_container{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .i-c_row .impact_image{
        background: url(../images/wwd_image.png);
        margin-top: 70px;
        max-width: 387px;
        max-height: 209px;
        min-width: 300px;
        min-height: 179px;
        height: fit-content;
        width: fit-content;
        border-radius: 4px;
    }
    
    .i-c_row .wwd{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .wwd_title{
        
        width: 100%;
        align-self: flex-start;
        justify-self: flex-start;
        margin-top: 67px;
        font-weight: 500;
        font-size: 2.375rem;
        line-height: 48px;
        color: #484747;
    }
    
    .wwd_para{
        width: 97%;
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 31px;
        color: rgba(72, 71, 71, 0.84);
        padding-bottom: 20px;
    }
    
    .wwd_btn{
        text-decoration: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        justify-self: flex-start;
        align-self: flex-start;
        padding: 10px;
        gap: 10px;
        width: 141px;
        height: 38px;
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 26px;
        border: 1px solid #0A5694;
        border-radius: 3px;
    }
    
}


/* End of OUR IMPACT AND CONTRIBUTION (impact) ection style */