@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Space+Grotesk:wght@300;400;500;600;700&family=Ubuntu:wght@400;700&display=swap');

.known-in {
  visibility: hidden;
  height: 1px;
  width: 2px;
}

::placeholder {
  color: rgb(171, 176, 182);
  padding-left: 10px;
}

#p-in {
  font-size: xx-large;
}

.email-in {
  width: 100%;
  height: 50px;
  border: 1px solid #484747C4;
  border-radius: 8px;
}

.in-container {
  display: flex;
  flex-direction: row-reverse;
  font-family: 'Space Grotesk', sans-serif;
}

.forme {
  margin-top: 30px;
  padding-top: 10px;
}

.in-item-1 {
  margin: 20px 15px;
  padding: 10px 20px;
  width: 50%;
}

/* .in-item-2 {
    width: 50%;
    margin-top: 5%;
    margin-right: 5%;
    padding-bottom: 20%;
    background-color: #c0bdbb;
    align-items: center;
    padding-top: 200px;
    text-align: center;
  } */
  .in-item-2 {
    width: 50%;
    display: flex;
    justify-content: center;
  }

.bold-1 {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.bolde-2 {
  font-weight: bold;
  text-decoration: none;
}

.btn-a-in {
  background-color: #003865;
  color: white;
  opacity: 1.5;
  width: 100%;
  height: 30px;
  cursor: pointer;
  border: 1px solid #484747C4;
  border-radius: 8px;
  height: 50px;
}

#small2-in {
  display: block;
  text-align: center;
}

.pswd01-in {
  width: 100%;
  height: 50px;
  border: 1px solid #484747C4;
  border-radius: 8px;
}

#flex-img-in {
  width: 90%;
  height: 600px;
  border-radius: 15px;
  margin: 15px 10px;
}

#togglePassword-in {
  margin-left: -30px;
  cursor: pointer;
}

.Rem-For {
  display: flex;
  flex-wrap: wrap;
}

.Rem-For div {
  width: 50%;
}

.For {
  text-align: right;
  font-weight: 600;
}

.For a {
  color: red;
  text-decoration: none;
}

@media screen and (min-width: 280px) and (max-width: 800px) {
  .in-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .in-item-2 {
    display: none;
  }

  #flex-img-in {
    width: 1px;
    height: 1vh;
    margin-top: 50px;
  }

  .in-item-1 {
    padding: 10px 25px;
    width: 87%;
  }

  .known-in {
    visibility: visible;
    width: 100%;
  }

  .forme {
    margin-top: 20px;
    padding-top: 25px;
  }

  .email-in {
    width: 100%;
    height: 50px;
    border: 1px solid #484747C4;
    border-radius: 8px;
  }

  .pswd01-in {
    width: 100%;
    height: 50px;
    border: 1px solid #484747C4;
    border-radius: 8px;
  }

  #img-desktop-in {
    visibility: hidden;
  }

  .mobile-container {
    max-width: 480px;
    margin: auto;
    background-color: #555;
    height: 500px;
    color: rgb(116, 22, 22);
    border-radius: 10px;
  }

  .btn-a-in {
    background-color: #003865;
    color: white;
    opacity: 1.5;
    width: 100%;
    height: 30px;
    cursor: pointer;
    border: 1px solid #484747C4;
    border-radius: 8px;
    height: 50px;
  }

  .icon {
    padding-left: 90px;
  }

  .tnav-in {
    overflow: hidden;
    /* background-color: #333; */
    position: relative;
  }

  .tnav-in #myLinks {
    display: none;
    background-color: black;
    color: black;
  }

  .tnav-in a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .tnav-in a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .tnav-in a:hover {
    background-color: #ddd;
    color: black;
  }

  .active {
    background-color: #04aa6d;
    color: white;
  }
}
