@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

.signup {
  display: flex;
  font-family: 'Space Grotesk', sans-serif;
}

.signup--left {
  flex: 0 0 45%;
  background-image: url('../images/sign.png');
  background-position: center;
  background-size: cover;
  object-fit: cover;
}

.signup--right {
  flex: 0 0 50%;
  padding: 100px 0 150px 50px;
}

.signup--title {
  font-weight: 400;
  color: #484747;
  padding-bottom: 20px;
}

.form--group {
  padding-bottom: 20px;
}

.form--label {
  display: block;
  padding-bottom: 5px;
}

.form--input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form--checkbox {
  margin-right: 10px;
}

.form--submit {
  background-color: #003865;
  color: #fff;
  font-weight: 500;
}

.signup--paragraph {
  text-align: center;
}

.signup--span {
  font-weight: 400;
  padding-right: 5px;
}

.signup--link {
  font-weight: 500;
  color: red;
  text-decoration: none;
}

.signup--link:hover {
  color: #003865;
}

.input--icon {
  position: relative;
}

.signup--icon{
position: absolute;
top: 50%;
right: 5%;
cursor: pointer;
}

@media (max-width: 768px) {
  .signup--right {
    padding: 100px 0 100px 30px;
  }

  .form--input {
    width: 90%;
  }
  .signup--icon{
    position: absolute;
    top: 50%;
    right: 15%;
    }
}

@media (max-width: 576px) {
.signup--left {
    display: none;
  }

  .signup--right {
    flex: 0 0 100%;
    padding: 0 30px;
  }

  .form--input {
    width: 100%;
  }

  .signup--icon{
    position: absolute;
    top: 50%;
    right: 5%;
    }
}