@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Space+Grotesk:wght@300;400;500;600;700&family=Ubuntu:wght@400;700&display=swap');

#p-2 {
  color: rgb(75, 71, 71);
}

.known {
  visibility: hidden;
  height: 1px;
  width: 2px;
}

::placeholder {
  color: rgb(171, 176, 182);
  padding-left: 10px;
}

#p-1 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: xx-large;
}

.fname,
.email {
  width: 100%;
  height: 50px;
  border: 1px solid #484747C4;
  border-radius: 8px;
}

.flex-contain {
  display: flex;
  font-family: 'Space Grotesk', sans-serif;
}

.forme {
  margin-top: 20px;
  padding-top: 10px;
}

.flex-item-1 {
  margin: 20px auto;
  padding: 10px 35px;
  width: 70%;
}

/* .flex-item-2 {
  width: 50%;
  margin-top: 5%;
  margin-right: 5%;
  padding-bottom: 20%;
  background-color: #c0bdbb;
  align-items: center;
  padding-top: 200px;
  text-align: center;
} */
.flex-item-2 {
  margin: 15px 0;
}

.flex-item-2 img {
  border-radius: 20px;
}

.bold-1 {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.bold-2 {
  font-weight: bold;
  color: #fa0101;
  text-decoration: none;
}

.btn-a {
  background-color: #003865;
  color: white;
  opacity: 1.5;
  width: 100%;
  height: 30px;
  cursor: pointer;
  border: 1px solid #484747C4;
  border-radius: 8px;
  height: 50px;
  margin: 5px auto;
  display: block;
}

#small2 {
  display: block;
  text-align: center;
}

.pswd01 {
  width: 100%;
  height: 50px;
  border: 1px solid #484747C4;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
}

#flex-img {
  width: 600px;
  height: 800px;
}

#togglePassword {
  margin-left: -30px;
  cursor: pointer;
}

@media screen and (min-width: 280px) and (max-width: 768px) {
  .flex-contain {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    padding-left: 2px;
  }

  .flex-item-2 {
    visibility: hidden;
    display: none;
  }
  #flex-img {
    margin-top: 50px;
  }

  .flex-item-1 {
    padding-top: 10px;
    width: 80%;
  }

  .known {
    visibility: visible;
    width: 100%;
  }

  .forme {
    margin-top: 20px;
    padding-top: 10px;
  }

  .fname,
  .email {
    width: 100%;
    height: 50px;
    border: 1px solid #484747C4;
    border-radius: 8px;
  }

  .pswd01 {
    width: 100%;
    height: 50px;
    border: 1px solid #484747C4;
    border-radius: 8px;
  }

  #img-desktop {
    visibility: hidden;
  }

  .btn-a {
    background-color: #003865;
    color: white;
    opacity: 1.5;
    width: 100%;
    height: 30px;
    cursor: pointer;
    border: 1px solid #484747C4;
    border-radius: 8px;
    height: 50px;
  }

  #small2 {
    padding-left: 40px;
  }

  #p-2 {
    color: rgb(75, 71, 71);
    left: 0;
  }

  .mobile-container {
    width: 480px;
    margin: auto;
    background-color: #555;
    height: 500px;
    color: rgb(116, 22, 22);
    border-radius: 10px;
  }

  .icon {
    padding-left: 90px;
  }

  .tnav {
    overflow: hidden;
    /* background-color: #333; */
    position: relative;
  }

  .tnav #myLinks {
    display: none;
    background-color: black;
    color: black;
  }

  .tnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .tnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .tnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .active {
    background-color: #04aa6d;
    color: white;
  }
}
